{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li><a href="{% url 'admin:colaboradores_funcionario_add' %}" class="button">Novo usuário local</a></li>
    <li><a href="{% url 'admin:colaboradores_funcionario_add_directory' %}" class="button">Novo vínculo AD</a></li>
  {% endif %}
  {% if request.user.is_superuser %}
    <li>
      <a href="{% url 'admin:colaboradores_funcionario_sincronizar_erp' %}" class="button">
        Sincronizar com o ERP
      </a>
    </li>
  {% endif %}
{% endblock %}
